#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    max-width: none;
    padding: 0;
    background-color: rgba(246, 246, 246, 0.8);
}

html,
body,
#app {
    height: 100%;
    width: 100%;
}

.flex-grow {
    flex-grow: 1;
}

.el-menu-demo {
    padding: 0 4rem 0 4rem;
}

.el-header {
    padding: 0;
}

.el-main{
    padding: 0;
}