.tearoom {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    background-color: rgba(246, 246, 246, 0.8);
}

.navcontent {
    width: 14rem;
    height: 20rem;
    background-color: #fff;
    margin-right: 1rem;
    position: sticky;
    top: 1rem;
}

.teacontent {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
}

.skeleton {
    padding: 1rem;
    background-color: #fff;
    height: 12rem;
    margin-bottom: 1rem;
}

.usercontent {
    width: 14rem;
    margin-left: 1rem;
}

.usercontent>* {
    height: 20rem;
    background-color: #fff;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1100px) {
    .usercontent {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .navcontent {
        display: none;
    }
}

.el-skeleton {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.skeleton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

:deep(.el-textarea__inner) {
    /* background-color: rgba(146, 146, 146, 0.6); */
}

:deep(.el-input__count) {
    background-color: transparent;
}

.tea-set {
    display: flex;
    justify-content: space-between;
}

.tea-set>.el-select {
    width: 8rem;
}

.tea-main {
    background-color: white;
    padding: 1rem;
    min-height: 4rem;
    margin-bottom: 1rem;
}

.tea-box {
    display: flex;
    margin-bottom: 1rem;
}

.tea-box > * {
    margin-right: 1rem;
}

.teabox-text {
    display: flex;
    justify-content: left;
}